html {
    font-size: 62.5%;
}
body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.container-fluid {
    width: 94%;
}
h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
}
h2 {
    font-size: 3.6rem;
    line-height: 42px;
}
p,
ol li {
    font-size: 1.6rem;
    line-height: 1.9rem;
}
.navbar {
    padding: 0;
    box-shadow: none;
    --webkit-box-shadow: none;
}
.navbar.topnav {
    padding: 1.5rem 0;
}
.topnav {
    overflow: hidden;
    position: relative;
}
header img {
    margin-top: 5px;
}
#navbarSupportedContent1 {
    margin-top: 10px;
}
.topnav #navbarLinks {
    display: none;
}
.topnav a {
    color: #000;
    /*padding: 1rem 1.5rem;*/
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 2rem;
}
.navbar-toggler .dark-blue-text i {
    height: 35px;
    width: 35px;
    display: inline-block;
    background: #000;
    padding-top: 9px;
    border-radius: 50%;
    font-size: 1.6rem;
    color: #fff;
}
.navbar-toggler.collapsed .fa-times, 
.navbar-toggler:not(.collapsed) .fa-bars {
    display:none;
}
.active,
.topnav a:hover {
    font-weight: bold;
}
.fa.fa-bars,
.impact-wrapper h2 {
    color: #000;
}
.impact-wrapper {
    margin-left: 9rem;
    margin-top: 3rem;
    color: #000;
}
.impact-wrapper h1 {
    width: 60%;
}
.impact-wrapper p {
    font-size: 1.6rem;
    margin-top: 2rem;
}
.impact-wrapper hr {
    float: left;
    border: 1px solid rgba(46, 212, 122, 0.3);
    width: 10rem;
    margin-right: 2rem;
}
.impact-wrapper a {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}
#impact-two {
    display: none;
    padding-bottom: 4rem;
}
.dot {
    width: 26.15px;
    height: 26.15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 auto;
}
.sayhi {
    display: inline-block;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-left: -1rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 2rem;
}
.sayhi a {
    color: #FFF;
}
.footer img {
    height: 1.5rem;
    margin-bottom: 1rem;
}

/* About page */
.impact-wrapper h2 {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.7rem;
    text-transform: capitalize;
    /*color: #FFF;*/
}
.motivated-wrapper h2 {
    margin-top: 4rem;
}
.mt-40 {
    margin-top: 4rem;
}
.social-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.error-wrapper {
    padding-top: 8rem;
    padding-bottom: 6rem;
    text-align: center;
}
.error-wrapper .error {
    font-size: 28.8rem;
    line-height: 33.7rem;
    color: #FFF;
}
.mt-10 {
    margin-top: 1rem;
}
.error-wrapper h1 a {
    color: green;
}

/* products.html */

.impact-wrapper h1,
.section-whoweare h1 {
    margin-bottom: 4rem;
}
.product-wrapper {
    margin-top: 10px;
}
.impact-wrapper .solution {
    width: 90%;
}

/* whoweare */
.section-whoweare p,
.section-whoweare h1 {
    color: #1E2426;
}
.section-whoweare p {
    font-size: 25px;
    line-height: 37px;
    color: #1E2426;
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.section-whoweare a img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}
.mt-50 {
    margin-top: 5rem;
}
.footer {
    background: #1E2426;
    padding: 2rem 0;
}
.whoweare .sayhi {
    transform: none;
}
.whoweare .sayhi a {
    color: #fff;
}
.pull-right {
    float: right;
}

/* blog */
.blog-wrapper {
    background: url("./../img/background.png") rgba(0, 255, 117, 0.5);
    background-blend-mode: darken;
    height: 350px;
    text-align: center;
    padding-top: 12rem;
}
.blog-wrapper h1 {
    width: 55%;
    margin: auto;
}
.blog .impact-wrapper {
    margin-left: 0;
}
.blog .impact-wrapper .container-fluid {
    width: 90%;
}

.subscribe-wrapper {
    padding: 4rem 0;
    text-align: center;
}
.subscribe-wrapper h2 {
    color: #2ED47A;
}
.subscribe-wrapper form {
    width: 50%;
    margin: 1.5rem auto;
}
.subscribe-wrapper input,
.subscribe-wrapper button {
    height: 40px;
}
.subscribe-wrapper button.btn-primary {
    background: #2ED47A!important;
    width: 50%;
    margin-top: 0;
}

/* programs */
.sdg {
    height: 250px;
}
.mb-40 {
    margin-bottom: 40px;
}
.sdg-details img {
    width: 100%;
}
.one {
    color: #f5152c;
}
.two {
    color: #e4a309;
}
.three {
    color: #2d9e3d;
}
.four {
    color: #c82030;
}
.six {
    color: #3ab0dc;
}
.seven {
    color: #f9b900;
}
.eight {
    color: #a31135;
}
.nine {
    color: #f66d1e;
}
.ten {
    color: #e01483;
}
.eleven {
    color: #f8a00f;
}
.twelve {
    color: #e48e14;
}
.thirteen {
    color: #1f7837;
}
.fourteen {
    color: #2a7ebf;
}
.fifteen {
    color: #33b23e;
}
.sixteen {
    color: #1b538e;
}
.seventeen {
    color: #1f476b;
}
.bold {
    font-weight: bold;
}
.mt-80 {
    margin-top: 8rem;
}
.impact-wrapper .quote {
    font-size: 36px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.65);
}
.impact-wrapper .request {
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.65);
}
.btn.btn-info.btn-proceed {
    border: 1px solid #351969;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background: transparent!important;
    color: #351969;
    padding: 1rem 4rem;
    margin-left: 6rem;
    padding-top: 9px;
    margin-top: 15px;
}
.impact-wrapper .business-model {
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    line-height: 103px;
    color: #009DDA;
}
.business {
    color: green;
}
.model {
    color: red;
}
.canvas {
    color: yellow;
}
.impact-wrapper .strategy {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    width: 65%;
    margin: 2rem auto;
}
.impact-wrapper .design {
    width: 60%;
    margin-bottom: 4rem;
}

/* services page */
.services-wrapper h1 {
    margin-bottom: 1.5rem;
}
.services-wrapper p.title {
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000;
}
.mb-70 {
    margin-bottom: 7rem;
}
.impact-wrapper .carousel p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 70%;
    line-height: 2.5rem;
}
.carousel-control-prev,
.carousel-control-next {
    bottom: auto;
}
.carousel-control-prev {
    right: 180px;
    left: auto;
}
.carousel-control-next {
    right: 120px;
}
.mt-100 {
    margin-top: 10rem;
}
.carousel-control-prev img,
.carousel-control-next img {
    height: 5rem;
}



@media screen and (max-width: 1000px) {
    .impact-wrapper h1 {
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    .topnav a {
        padding-left: 0;
    }
    header img {
        margin-left: 0;
    }
    .hidden-sm {
        display: none;
    }
    .error-wrapper h1 {
        font-size: 4rem;
    }
    .error-wrapper .error {
        font-size: 17.8rem;
    }
    .impact-wrapper {
        margin-left: 3rem;
    }
    .impact-wrapper h1,
    .motivated-wrapper h2,
    .impact-wrapper .design,
    .impact-wrapper p {
        width: auto!important;
    }
    .logo-image {
        margin-top: 2rem;
    }
    .section-whoweare p {
        width: 90%;
        font-size: 20px;
    }
    .blog-wrapper {
        height: auto;
        padding-top: 6rem;
    }
    .blog-wrapper h1 {
        width: 85%;
        padding: 2rem 0;
    }
    .impact-wrapper .business-model {
        font-size: 6rem;
    }
    .impact-wrapper .quote {
        font-size: 28px;
        line-height: 45px;
    }
    .carousel-image {
        margin-top: 7rem;
    }
}
@media screen and (max-width: 400px) {
    .error-wrapper .error {
        font-size: 12.8rem;
    }
    .d-flex {
        display: block!important;
    }
    .services-wrapper img {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 576px) {
    .services-wrapper img {
        margin-top: 1rem;
    }
}


.design-thinking {
    color: #593d00;
    background: #ffe799;
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 600;
}